mixin liNavItem(text,link)
  li.nav-item
    a.nav-link(href=link) #{text}


nav.navbar.navbar-expand-lg.navbar-dark
  div.collapse.navbar-collapse.d-flex.justify-content-between.mx-5.my-2#navbarSupportedContent
    ul.navbar-nav.me-auto.mb-2.mb-lg-0
      li.nav-item
        a.nav-link.active(aria-current="page" href="#") 30nama
      +liNavItem('Home','/home')
      if !user
        +liNavItem('Signup','/signup')
        +liNavItem('Login','/login')
      else
        +liNavItem(`Logout`,'/logout')
    if user
      div.d-flex
        a(href="/me")
          if user.photo
            img.form__user-photo(src=`/img/users/${user.photo}`, alt="User Photo")             
          else
            img.form__user-photo(src=`/img/${user.gender}.jpeg` alt='User photo')
        h1.m-auto= user.name

    div.w-25
      form.d-flex#search-form
        input.nav-form-input(type="search" placeholder="Search" aria-label="Search")
        button.nav-search-btn.my-btn--small.my-btn--red(type='button') Search