extends base

mixin card(imgSrc,cardTitle,text)
  div.card.col-4.p-1
    img.card-img-top(src=`img/movies/${imgSrc}.jpeg` alt=imgSrc)
    div.card-body
      h5.card-title= cardTitle
      p.card-text= text
      a.btn.btn-primary(href='#') more info

block content

  div.d-flex.justify-content-center.mt-4
    div.w-75.d-flex.flex-wrap 
      each movie in movies
        +card(movie.slug,movie.name.toUpperCase(),movie.summery)

  div.d-flex.justify-content-center.mt-5
    div.w-25.d-flex.justify-content-around
      button.btn.btn-primary#be-btn before
      button.btn.btn-primary #{page}
      button.btn.btn-primary#af-btn next

  script(src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous")
  script(src='js/home.js')